In [7]:
import pickle
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

data = pd.read_json('generated_data.json')
data

,proj_id,team_size,budget,workload,completion_time,assigned_manager,tasks
0,1,2,10125.05,medium,155,Victoria Dunn,"[{'id': 1, 'description': 'Document integratio..."
1,2,7,10158.91,low,141,Victoria Dunn,"[{'id': 1, 'description': 'Implement integrati..."
2,3,8,12946.33,low,111,Joseph Parker,"[{'id': 1, 'description': 'Implement backend l..."
3,4,2,14865.58,medium,70,George Shannon,"[{'id': 1, 'description': 'Implement user inte..."
4,5,6,11776.35,high,166,Joseph Parker,"[{'id': 1, 'description': 'Document backend lo..."
...,...,...,...,...,...,...,...
995,996,7,14304.52,medium,150,Adam Armstrong,"[{'id': 1, 'description': 'Test user interface..."
996,997,6,11639.45,low,74,Adam Armstrong,"[{'id': 1, 'description': 'Test integration mo..."
997,998,3,11636.96,medium,263,David Johnson,"[{'id': 1, 'description': 'Optimize integratio..."
998,999,7,13117.18,high,177,Henry Carr,"[{'id': 1, 'description': 'Design database sch..."
999,1000,5,12536.81,medium,96,Randall Jones,"[{'id': 1, 'description': 'Optimize integratio..."

In [3]:
data.isnull().sum(axis = 0)

proj_id                      1502
team_size                    1502
budget                       1502
workload                     1502
completion_time              1502
assigned_manager             1502
tasks__id                       0
tasks__description              0
tasks__status                   0
tasks__person_assigned          0
tasks__due_date                 0
tasks__estimated_duration       0
dtype: int64

In [28]:
import pandas as pd
import json

# Load JSON data
with open('generated_data.json') as f:
    data = json.load(f)
    
# Normalize JSON data to flatten nested structure
df = pd.json_normalize(data, 'tasks', ['proj_id', 'team_size', 'budget', 'workload', 'completion_time', 'assigned_manager'])

# Group by project ID and count the number of tasks
task_counts = df.groupby('proj_id').size().reset_index(name='task_count')

# Drop the 'tasks' column from the DataFrame
df.drop(columns=['id', 'description', 'status', 'person_assigned', 'due_date', 'estimated_duration'], inplace=True)

# Merge task_counts into the DataFrame on 'proj_id'
df = df.merge(task_counts, on='proj_id')

# Delete the duplicates
df = df.drop_duplicates(subset='assigned_manager')

# Display the updated DataFrame
display(df)

,proj_id,team_size,budget,workload,completion_time,assigned_manager,task_count
0,1,2,10125.05,medium,155,Victoria Dunn,1
2,3,8,12946.33,low,111,Joseph Parker,3
5,4,2,14865.58,medium,70,George Shannon,3
12,7,8,10714.36,low,156,Margaret Clayton,3
15,8,7,12982.05,medium,225,Nicole Lewis,3
18,9,2,14352.59,medium,357,Daniel Romero,2
20,10,5,11197.26,low,320,Ashley Lyons,4
24,11,8,10605.02,low,62,Daniel Lopez,2
26,12,9,11190.02,high,278,Joseph Johnson,2
28,13,7,11771.49,medium,269,Taylor Delgado,1
29,14,4,10951.04,medium,101,Mark Tanner,3
32,15,8,11068.74,medium,60,Amanda Baker,1
33,16,9,13309.36,medium,109,Debra Mcdaniel,2
35,17,9,10787.16,high,71,Robert Allen,1
42,20,3,11322.33,low,313,Erika Brown,3
51,23,3,13936.87,low,225,Sheila Weiss,2
53,24,5,14321.76,medium,209,Stacy Watts,4
57,25,10,10950.39,low,253,Jason Lee,2
65,28,10,14248.69,low,263,Marc Marquez,2
67,29,4,10879.43,high,295,Erin Hale,2
74,32,7,12384.9,medium,182,David Johnson,4
85,37,2,12960.49,high,154,Tyler Turner,3
90,39,5,11611.52,low,74,Robert Marshall,2
98,42,4,10603.28,low,191,Jessica Costa,2
100,43,4,11481.23,medium,121,Randall Jones,2
105,45,9,13822.22,high,335,Chase Welch,4
109,46,1,12042.59,high,334,Megan Carpenter,1
110,47,4,14619.56,high,331,Edward Owen,4
123,51,1,11017.79,high,97,Paul Webb,4
131,53,9,13814.36,medium,263,Patricia Thomas,2
144,57,9,10789.88,medium,206,Emily Ball,4
154,60,8,14814.47,low,145,Bailey Hall,4
159,62,3,10226.73,low,185,Stephanie Flynn,1
169,67,9,10568.25,low,273,Pamela Craig,1
183,73,5,13513.49,medium,203,Thomas Lopez,2
199,78,3,10381.9,high,88,Brandon Harris,2
210,82,5,11937.08,medium,336,Carol Mccann,3
226,88,7,14972.63,medium,144,James Hood,1
231,90,2,14183.44,medium,335,Henry Carr,2
235,93,6,12730.07,high,119,Rita Price,4
245,97,1,10375.21,high,237,Kyle Freeman,2
254,100,9,11451.81,medium,110,Anna Webster,2
256,101,9,12861.39,medium,312,Thomas Weaver,1
262,105,10,13603.16,high,202,Katrina Wilson,1
297,116,2,13078.39,high,152,Kimberly Crawford,2
308,120,8,11618.01,low,33,Gary Moss,2
347,135,7,10687.46,high,148,Tina Clark,2
352,137,5,13974.68,low,221,Adam Armstrong,2
447,171,1,11222.76,medium,216,Ricardo Hill,2
485,186,5,11613.02,low,253,Elizabeth Thomas,3

In [29]:
import pyarrow.parquet as pq
import pyarrow as pa
df.to_parquet("cleaned_generated_data.parquet")

In [30]:
cl_data = pd.read_parquet("cleaned_generated_data.parquet")

In [31]:
#df1 = pd.get_dummies(cl_data, columns=['homeworld', 'unit_type'])
#display(df1)
df1 = cl_data
X = df1[['task_count','team_size']]
y = df1['completion_time']

X_train, X_test, y_train, y_test,= train_test_split(X, y, test_size=0.2, random_state = 42)

model = LogisticRegression()
model = model.fit(X_train,y_train)

pred = model.predict(X_test)
pred

accuracy = model.score(X, y)
accuracy

C:\Users\wasadmin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.22